<div class="row">
	<h2 ng-hidden="hq">Nova HQ</h2>

</div>

<div class="row">
	<form ng-submit="submit()">
		<div class="col-md-4">

			<div class="form-group">
				<label for="titulo">Titulo</label>
				<input type="text" ng-model="hq.titulo" name="titulo" class="form-control">
			</div>
			<div class="form-group">
				<label for="subtitulo">Subtitulo</label>
				<input type="text" ng-model="hq.subTitulo" name="subTitulo"  class="form-control">
			</div>

			<div class="form-group">
				<label for="Selo">Selo</label>
				<select class="form-control" name="selo" ng-model="hq.selo._id">
					<option ng-repeat="s in selos" value="{{s._id}}">{{s.nome}}</option>
				</select>
			</div>
			<div ng-if="roteiristas">
				<label>Roteiristas</label>		
			<hqb-multi-select options="roteiristas" chosens="hq.roteiristas" nm="roteiristas"></hqb-multi-select>

			</div>

			<div ng-if="desenhistas">
				<label>Desenhistas</label>
				<hqb-multi-select options="desenhistas" chosens="hq.desenhistas" nm="desenhistas"></hqb-multi-select>
			</div>

			<div class="form-group">
				<label for="capa">Capa</label>
				<img ng-src="/{{hq.capa}}" id="capa">
				<input type="file" name="capa" id="imagemCapa">
			</div>

			<input type="submit" class="btn btn-primary" value="Salvar">
			<a href="/#/hqs"><button class="btn btn-default">Voltar</button></a>

		</div>
	</form>
</div>
